# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/


.env
*.local


.idea/
.vscode/
*.swp


*.sql
*.dump
*.bak


.DS_Store
Thumbs.db


*.log
